{% extends "app/base.html" %}


{% block content %}
<hr>
<hr>
<div class="container mt-4">

    {% if fm.non_field_errors %}

    {% for error in fm.non_field_errors  %}

    <div class="form-group">

        <div class="alert alert-success">   {{error}}</div>   

    </div>
    {% endfor %}
    {% endif %}
    

<form action="" method="post">
    {% csrf_token %}

    {% for f in fm  %}

    {{f.label_tag}} {{f}} {{f.errors}} <br> <br>
      
    {% endfor %}


  
    <button type="submit" class="btn btn-primary">Change</button>


</form>
</div>
{% endblock content %}